extends ../layouts/application_fluid

block content
  h1.mb-5 Product
  include ../common/pagination
  each product in productArr
    .col-3
      .card.mb-4
        img.card-img-top(src=product.image, alt=product.name)
        .card-body
          h5.card-title= product.name
          p.card-text= truncateParagraph(product.description, process.env.MAXLENGTH_PARA)
          a.btn.btn-primary(href="#") Detail
